.card ul{
    overflow: auto !important;
}
.editProfileTitle form .container{
    margin-top: 2vh;
    font-family: Montserrat;
    background: rgba(255, 255, 255, 0.26);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.8px);
    -webkit-backdrop-filter: blur(6.8px);
    border: 1px solid rgba(255, 255, 255, 0.16);
}
.editProfileTitle .field {
    display: flex;
    justify-content: center;
    align-items: center;
}
.editProfileTitle .field input {
    border-radius: 10px;
    border: 0px;
    padding: 1vh 1.5vh;
}